.about__section {
    display: flex;
}

.about__container {
    display: flex;
    flex-direction: column;
}

.about__image {
    max-width: 376px;
}

.about__img {
    height: auto;
    width: 100%;
    border-radius: 12px;
}
