.about__section {
    display: flex;
}

.about__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*column-gap: 10%;*/
    justify-content: space-around;
}

.about__text,
.about__image {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
}

.about__image {
    /*max-height: 376px;*/
    max-width: 376px;
}

.about__img {
    height: auto;
    width: 100%;
    border-radius: 12px;
    aspect-ratio: 2 / 3;
    justify-content: center;
}
