.contact__section {
    display: flex;
    /*min-height: 100%;*/
}

.contact__container {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    /*row-gap: 4.8rem;*/
    width: 100%;
}

.heading {
    font-size: var(--fs-h2);
    margin-bottom: 1rem;
    font-weight: var(--fw-semibold);
}

.contact__box {
    flex: 0 0 50%;
}

.maps__box {
    flex: 0 0 50%;
}

.contact__list {
    list-style: none;
}
.contact__item {
    display: flex;
    align-items: center;
}

.contact__link {
    display: flex;
    align-items: center;
    color: var(--dark-color);
    text-decoration: none;
    column-gap: 3rem;
    transition: 0.3s ease-in-out;
}

.contact__link:hover span {
    text-decoration: underline;
}
.contact__link:hover {
    margin-left: 2rem;
}

.google__map {
    border: none;
    width: 60rem;
    /*width: 100%;*/
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    /*aspect-ratio: 9 / 16;*/
}
