/* General and Default Styles */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pt+Mono:wght@200..800&display=swap");
:root {
    /* Font Sizes */

    --fs-h1: calc(3rem + 1vw); /* ~40–56px */
    --fs-h2: calc(2.4rem + 0.6vw); /* ~32–40px */
    --fs-h3: calc(1.9rem + 0.4vw); /* ~24–30px */
    --fs-h4: calc(1.5rem + 0.3vw); /* ~20–24px */
    --fs-body: 1.6rem; /* 16px body */

    /* Colours */
    /*--back-color: #f8fcff;*/
    --back-color: #fff;
    --dark-color: #111;

    --ff-one: "Montserrat", sans-serif;
    --ff-two: "Assistant", sans-serif;
    --ff-three: "PT Mono", monospace;
    --fw-reg: 400;
    --fw-semibold: 500;
    --fw-bold: 600;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Scrollbars */
/* WebKit browsers (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--dark-color);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--back-color);
    border: 2px solid #111;
    border-radius: 0.5rem; /* rounded corners */
}

/* Firefox */
html {
    scrollbar-width: thin; /* options: auto | thin | none */
    scrollbar-color: var(--back-color) var(--dark-color); /* thumb track */
}

/* Optional: For more advanced Firefox styling using pseudo-elements */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--back-color) var(--dark-color);
}

.container {
    /*padding-top: 7rem;*/
    font-family: var(--ff-one);
    line-height: 1.6;
    color: #111;
    height: 100vh;
    /*width: 130rem;*/
    width: 150rem;
    margin: 0 auto;
    font-size: var(--fs-body);
}

/*html,
body {
    height: 100%;
    margin: 0;
}*/

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*text-align: center;*/
    min-height: 100vh;
    height: 100%;
}
