{% extends 'base.html' %} {% block content %}

<div class="contact__section">
    <div class="contact__container">
        <div class="contact__box">
            <h2 class="contact__heading heading">Contact Details</h2>

            <ul class="contact__list">
                <li class="contact__item">
                    <a
                        href="mailto:michaeladeleye365@gmail.com"
                        class="contact__link"
                    >
                        <i class="fa fa-envelope"></i>
                        <span>michaeladeleye365@gmail.com</span>
                    </a>
                </li>

                <li class="contact__item">
                    <a href="tel:07389194089" class="contact__link">
                        <i class="fa fa-phone"></i>
                        <span>+44 (0) 7389 194 089</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="maps__box">
            <h2 class="heading">Our Location</h2>

            <iframe
                class="google__map"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2483.623948078448!2d-0.14329820160522644!3d51.50176802715127!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760520cd5b5eb5%3A0xa26abf514d902a7!2sBuckingham%20Palace!5e0!3m2!1sen!2suk!4v1772805507301!5m2!1sen!2suk"
                loading="lazy"
                allowfullscreen=""
                referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
        </div>
    </div>
</div>

{% endblock %}
